<header>
    <nav class="nav-screen">
        <a href="/">ACM@CU</a>
        <a href="/about">ABOUT</a>
        <a href="/members">MEMBERS</a>
        <a href="/resources">RESOURCES</a>
        <a href="/contact">CONTACT</a>
    </nav>
    <nav class="nav-mobile">
        <select>
            <option value="/">ACM@CU</option>
            <option value="/about">ABOUT</option>
            <option value="/members">MEMBERS</option>
            <option value="/resources">RESOURCES</option>
            <option value="/contact">CONTACT</option>
        </select>
    </nav>
    <section>
        <input type="text">
        <a href="http://www.facebook.com"><img src="static/img/facebook.png"></a>
        <a href="http://www.twitter.com"><img src="static/img/twitter.png"></a>
    </section>
</header>